.media {
    margin-top: 20px;
    margin-bottom: 150px;
    margin-left: 170px;
    margin-right: 170px;
}
.container p, .media p {
    color: black;
    font-family: "Raleway", sans-serif;
    text-align: justify;
}

.container img {
    display: block;
    width: 1084px;
    margin: auto;
    margin-bottom: 100px;
}

.container {
    margin-left: 170px;
    margin-right: 170px;
    margin-bottom: 40px;
}
.picture-wrapper {
    display: flex;
    justify-content: center;
}

.picture-wrapper img {
    margin: 40px;
}

.line1 {
    height: 20px;
    background-color: #eee;
    font-family: "Raleway", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

@media screen and (max-width: 768px) {
    .container img {
        max-width: 100px;
        display: block;
        margin: auto;
        margin-bottom: 0;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .picture-wrapper {
        margin: 0; 
    }
    .container p, .media p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    }
}