@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.latestPosts {
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    margin-left: 145px;
    padding-top: 20px;
}

.morePosts {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #eee;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", Sans-serif;
    align-self: flex-end;
    margin-bottom: 100px;
}

.morePosts a {
    color: black;
    text-decoration: none;
}

.morePosts:hover {
    background-color: #fff;
}


.container-carousel {
    width: 80%;
    margin: 60px auto;
}

.carousel {
    border: 2px solid #ccc;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.controls .arrow i {
    font-size: 30px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}