@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.latestTravels {
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    width: 60%; 
    margin: 0 auto;   
    padding-top: 60px;
}

.morePosts {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    background-color: #eee;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", Sans-serif;
    align-self: flex-end;
    margin-bottom: 80px;
}

.morePosts a {
    color: black;
    text-decoration: none;
}

.morePosts:hover {
    background-color: #fff;
}


.container-carousel {
    width: 60%;
    margin: 10px auto;
}

.carousel {
    border: 2px solid #ccc;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
}

.slider {
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 2s;
    scroll-behavior: smooth;
}

.slider section {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.controls .arrow i {
    font-size: 30px;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.latest-posts {
    position: relative;
    overflow: hidden;
}

.latest-posts img {
    width: 560px;
    height: 350px;
    object-fit: cover;
}

.latest-posts div {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    padding: 10px;
    box-sizing: border-box;
}

.latest-posts p {
    font-family: "Raleway", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0
}



@media screen and (max-width: 768px) {

    .latest-posts img {
        max-width: 220px;
        height: 150px;
    }
    .latest-posts div {
        padding: 5px;
    }
    .latest-posts p {
        font-family: "Raleway", Sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0
    }
    .carousel {
        border: 2px solid #ccc;
        overflow: hidden;
        height: 200px;
        position: relative;
        margin-top: 100px;
        margin-bottom: 40px;
    }
    .morePosts {
        margin-bottom: 20px;
    }
    .logo {
        margin-bottom: 20px;
    } 
    .latestTravels {
        padding-top: 30px;
    }
}

