
.share {
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}
.line2 {
    width: 100%;
    height: 1px;
    background-color: black;
}
.contentPost {
    text-decoration: none;
   
}

.contentPost h2 {
    text-decoration: none;
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-weight: 300;
    font-size: 44px;
    text-transform: uppercase;
    color: black;
    margin-top: 80px;
    margin-bottom: 0;
}
.contentPost h3 {
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.contentPost h4 {
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-bottom: 150px;
}

 
.contentPost img {
    display: block; 
    margin: 20px auto; 
    height: 360px;
    margin-bottom: 50px;
}

.contentPost p {
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: black;
}