.specific {
    display: block;
    max-width: 100%;
}

.share {
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}

.line2 {
    width: 100%;
    height: 1px;
    background-color: black;
}
.contentPost {
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
   
}

.contentPost h2 {
    text-decoration: none;
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-weight: 300;
    font-size: 44px;
    text-transform: uppercase;
    color: black;
    background-color: #eee;
    margin-top: 60px;
    margin-bottom: 40px;
}

.contentPost h3 {
    text-align: center;
    font-family: "Raleway",Sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-bottom: 100px;

}
 
.contentPost img {
    display: block; 
    margin: 20px auto; 
    margin-top: 40px;
    margin-bottom: 40px;
    width: 550px;
    height: auto;
}

