.line2 {
    width: 100%;
    height: 1px;
    background-color: black;
}
.navigation ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
}
.navigation li {
    display: inline;
    margin: 0 10px;
}
.navigation a {
    text-decoration: none;
    font-family: "Raleway",Sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}
.navigation a:hover {
    border-bottom: #333 2px solid;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo  {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    font-style: italic; 
    font-weight: 600; 
}





.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}
.social a, .socialmedia a {
    color:black;
    font-size: 20px;
}
.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px;
}

.rights p {
    color: black;
    font-family: "Raleway",Sans-serif;
    text-align: center;
}

.line {
    width: 100%;
    height: 10px;
    background-color:#eee;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 25px;
  }
  .hamburger {
    display: none;
  }

.loader {
    border: 16px solid #6b6868cd;
    border-top: 16px solid #eee;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }
 
  @media (max-width: 900px) {
    .nav-bar {
      justify-content: space-between;
      align-items: center;
    }
    .hamburger {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: 40px;
        height: 40px;
        z-index: 11;
        border: none;
        border-radius: 10px;
        padding: 8px;
      } 
      .navigation {
        display: flex;
        flex: 1;
      }
      
      .navigation ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 65px;
        list-style-type: none;
        flex: 1;
        margin: 0;
        padding: 0 50px;
      }
      
    
    }