.line2 {
    width: 100%;
    height: 1px;
    background-color: black;
}
.navigation ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
}
.navigation li {
    display: inline;
    margin: 0 10px;
}
.navigation a {
    text-decoration: none;
    font-family: "Raleway",Sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
}
.navigation a:hover {
    border-bottom: #333 2px solid;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.logo  {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; 
}

.logo h1 {
    font-family: 'Poppins', sans-serif;
    font-style: italic; 
    font-weight: 600; 
}





.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-left: 50px;
}
.social a, .socialmedia a {
    color:black;
    font-size: 20px;
}
.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px;
}

.rights p {
    color: black;
    font-family: "Raleway",Sans-serif;
    text-align: center;
}

.line {
    width: 100%;
    height: 10px;
    background-color:#eee;
}





.loader {
    border: 16px solid #6b6868cd;
    border-top: 16px solid #eee;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}
 
.mobile-nav-toggle {
    display: none;
}


@media (max-width: 1024px) {

.mobile-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav-toggle__button {
    width: 26px;
    height: 18px;
    border: none;
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile-nav-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-nav-toggle__button {
    width: 26px;
    height: 18px;
    border: none;
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    content: '';
    display: block;
    background: #eaeaea;
    width: 100%;
    height: 2px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.mobile-nav-toggle__button.is-open .line--first {
    transform: rotate(45deg) translate(5px, 5px);
}

.mobile-nav-toggle__button.is-open .line--second {
    opacity: 0;
}

.mobile-nav-toggle__button.is-open .line--third {
    transform: rotate(-45deg) translate(7px, -7px);
}

  
}


